.block {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

.skills-container {
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 1rem 1rem 1rem;
    width: 500px;
    justify-content: center;
    margin-bottom: 0.5rem;
    min-height: 4rem;
}

.little-text {
    font-size: 0.8rem !important;
    width: 500px;
    padding: 0 !important;
    margin-top: 0.2rem !important;
    opacity: 90%;
}

.skill-button-style {
    margin: 2px 3px !important;
    opacity: 90%;
}
