.background {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.title {
    color: #586F6B;
}

.header-style {
    font-size: 3rem !important;
    font-family: 'Segoe UI' !important;
    font-weight: 400 !important;
}

.button-container {
    display: flex;
    min-height: 8rem;
    align-items: flex-start;
    padding: 0.5rem;
}

.search {
    height: 3rem;
    margin: 0, 1rem !important;
    width: 15rem;
    margin: 2rem !important;
    border-radius: 0.8rem !important;
}
